header{
    display: flex;
    justify-content: start;
    background-color: black;
    width: auto;
    height: auto;
}

.title-header{
    color: white;
    font-size: 3rem;
    margin-top: 1%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar{
    display: flex;
    justify-content: start;
    list-style: none;
    margin-left: 20%;
    
}

.link-nav{
    font-size: 40px;
    margin-right: 10%;
}

.text-nav{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text-nav:hover{
    font-weight: bolder;
    color: lightgray;
    font-size: 2.5rem;
}