.login{
	display: block;
	text-align: center;
}
.chat-container {
	display: flex;
	height: 70vh;
}

.chat-sidebar {
	flex: 1;
	background-color: #f4f4f4;
	padding: 20px;
	border-right: 1px solid #e4e4e4;
}

.chat-room {
	flex: 3;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.chat-messages {
	flex: 1;
	overflow-y: auto;
	border: 1px solid #e4e4e4;
	padding: 10px;
	margin-bottom: 20px;
}

.chat-input {
	display: flex;
	justify-content: space-between;
}

.chat-input input {
	flex: 1;
	padding: 10px;
	margin-right: 10px;
}
