.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    padding: 16px 24px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: blueviolet;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--color-mid-green);
}

.btn:active {
    background-color: var(--color-purple);
}

.list {
    scroll-behavior: auto contain;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
