.container {
    min-width: 275px;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding-left: 2rem;
}
.container h3 {
    font-size: 16px;
    font-family: 'Retro';
}

.list {
    margin: 1rem 0 1rem 0;
}

@media screen and (max-width: 770px) {
    .container {
        align-items: center;
        padding: 0;
    }
}
